
@model ASPMVC.Models.AdvViewModel
@using ASPMVC.Controllers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.Title;
    if (Model.PostTags != null)
    {
        ViewBag.Keywords = string.Join(" ", Model.PostTags.Select(t => t.Name).ToArray());
    }
    ViewBag.Description = Model.Meta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/Scripts/view.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
}

<div id="postScroll">
    <div class="postContainer">
        @if (User.IsInRole("Admin"))
        {
            <div class="postMenu">
                <div class="postMenuSub">
                    <a href="@Url.Action("EditAdvert","Advert",new {slug = Model.UrlSeo })" title="Edit"><img src="@Url.Content("~/Content/images/post/edit.png")" width="25" height="25" alt="edit" /></a>
                    <a href="@Url.Action("DeleteAdv","Advert",new {advid = Model.ID })" title="Delete"><img src="@Url.Content("~/Content/images/post/delete.png")" width="25" height="25" alt="delete" /></a>
                </div>
            </div>
        }
        else if (User.Identity.GetUserName() == Model.Author)
        {
            <div class="postMenu">
                <div class="postMenuSub">
                    <a href="@Url.Action("EditAdvertUser","Advert", new {slug = Model.UrlSeo })" title="Edit"><img src="@Url.Content("~/Content/images/post/edit.png")" width="25" height="25" alt="edit" /></a>
                </div>
            </div>
        }
        <div class=" postHeader">
            @if (Model.ID != Model.FirstAdvId)
            {
                
                @Html.ActionLink("<< Previous", "Advert", "Advert", new { slug = Model.PreviousAdvSlug, sortorder = ViewBag.CurrentSort }, new { style = "float:left;", id = "previous" })
                
            }
            @if (Model.ID != Model.LastAdvId)
            {
                @Html.ActionLink("Next >>", "Advert", "Advert", new { slug = Model.NextAdvSlug, sortorder = ViewBag.CurrentSort }, new { style = "float:right;", id = "next" })
            }

        </div>

        <div class="postTitle"><h2>@Model.Title</h2></div>
        <div class="addthis_sharing_toolbox"></div>
        <div class="postVote" id="postVote">
            <table>
                <tr><td style="text-align:center; color:green; font-style:italic;">@Model.AdvLikes</td></tr>
                <tr><td><a href="@Url.Action("UpdateAdvLike", "Advert", new { slug=Model.UrlSeo, advid = Model.ID,username = User.Identity.GetUserName(), likeordislike = "like",sortorder = ViewBag.CurrentSort })"><img src="@Url.Content("~/Content/images/post/upvote.png")" width="30" height="30" alt="upvote" /></a></td></tr>
                <tr><td><a href="@Url.Action("UpdateAdvLike", "Advert", new { slug=Model.UrlSeo, advid = Model.ID,username = User.Identity.GetUserName(), likeordislike = "dislike" ,sortorder = ViewBag.CurrentSort})"><img src="@Url.Content("~/Content/images/post/downvote.png")" width="30" height="30" alt="downvote" /></a></td></tr>
                <tr><td style="text-align:center; color:#b50000; font-style:italic;">@Model.AdvDislikes</td></tr>
            </table>
        </div>
        
        @if (Model.Images != null)
        {
            foreach (var video in Model.Images)
            {
                <div class="advImage">
                    <img width="560" height="400" src="@video.ImageUrl" frameborder="0" overflow="hidden" allowfullscreen>
                </div>
            }
        }

        @{
            AdvertController advCtrl = new AdvertController();
        }
        <div class="postBody">@Html.Raw(Model.Body)</div>
        <div class="advAuthor">Author: @Html.Raw(Model.Author)</div>
    </div>
    @{Html.RenderPartial("Comments", Model.CommentViewModel);}
</div>

<div>
    @Html.ActionLink("Main", "Index")
</div>
